.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #111;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 60px;
}

.main {
  flex: 1;
  padding-bottom: 60px;
}

.footer {
  display: flex;
  height: 180px;
  background-color: #222;
}
